@tailwind base;
@tailwind components;
@tailwind utilities;

/* Swiper Core Styles */
@import 'swiper/css';
@import 'swiper/css/effect-cards';

body {
  background-color: #FDF5F5;
  margin: 0;
  overflow-x: hidden;
}

/* کارڈز کو تصویر کے مطابق گول اور پریمیم بنانے کے لیے */
.swiper-slide {
  border-radius: 40px ! from-[#4A0E0E];
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}
