@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

body {
  background-color: #FDF5F5;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.swiper-slide {
  transition: transform 0.3s ease;
}
